src/air-sensor-api/.vs/air-sensor-api/FileContentIndex/3c69732b-daa7-49fc-9c51-a2cef2d4ab60.vsidx
src/air-sensor-api/.vs/AirSensorApi/v17/.suo
src/air-sensor-api/.vs/air-sensor-api/FileContentIndex/dfd26f9a-4f14-4eea-819d-fb720ad72f82.vsidx
src/air-sensor-api/.vs/air-sensor-api/FileContentIndex/c95281de-f8bb-4a94-b563-d2aa76639967.vsidx
/src/air-sensor-api/.vs/AirSensorApi/FileContentIndex
